* {margin:0;padding:0;touch-action: pan-y;-webkit-tap-highlight-color:transparent;}
img {width:100%;float:left;}
a {position:absolute;opacity:0;}
.span {position:absolute;opacity:0;}
p {width:100%;float:left;position:relative;}
body{ overflow-x: hidden;}
.main {width:100%;max-width:750px;height:100%;position:absolute;top:0;left:50%;transform:translateX(-50%);}

.head > .ios_teach {width:2.32rem;height:0.68rem;top:0.42rem;left:3.32rem;}
.head > .down {width:1.66rem;height:0.68rem;top:0.42rem;right:0.12rem;}
#ios {display:none;}

.content {width:100%;height:calc(100% - 1.52rem);position:absolute;top:1.52rem;left:0;overflow:auto;}
.content .ljxz {width:3.96rem;height:1rem;left:50%;bottom:0;margin-left:-1.98rem;}
.content .ios {width:3.3rem;height:0.94rem;top:0.5rem;right:0.9rem;}
.content .android {width:3.3rem;height:0.94rem;top:1.6rem;right:0.9rem;}

.content > .son_down > .span {width:2.9rem;height:1rem;top:0;}
.content > .son_down > .android {left:0.92rem;}
.content > .son_down > .ios {left:4.06rem;}
.son_footer {position:fixed;bottom:0;left:0;}
.main_teach {width:100%;max-width:750px;margin:auto;overflow:hidden;}
.content_teach {width:100%;float:left;}
.content_teach > * {width:100%;float:left;position:relative;}
.content_teach > p > .span {width:2.7rem;height:1.1rem;position:absolute;top:0rem;left:50%;margin-left:-1.85rem;opacity:0;z-index:2;}
.content_teach > p > img {width:100%;float:left;}
.dw_propt {
    width: 100%;
    min-height: 1.4rem;
    background: rgba(255, 255, 255, 0.77);
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

.ppt_lt {
    position: relative;
}

.img {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0.08rem;
    left: 0.18rem;
    overflow: hidden;
}

.img img {
    display: block;
    width: 100%;
    height: 100%;
}

.ppt_lt .lt_t {
    padding: 0.20rem 0 0 1.74rem;
    color: #333;
}

.ppt_lt .lt_t h3 {
    font-size: 0.3rem;
}

.ppt_lt .lt_t span {
    font-size: 0.28rem;
    color: #545454;
    display: block;
    margin-top: 0.15rem;
}

.ppt_lt_ii .lt_in {
    margin: 0 0.3rem;
    position: relative;
}

.ppt_lt .ppt_dw {
    display: block;
    width: 80px;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #43c117 !important;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 0.08rem;
    position: absolute;
    top: 0.33rem;
    right: 0.3rem;
    opacity: 1;
}

.ppt_lt_ii .ppt_dw {
    width: 100%;
    left: 0;
    right: 0
}
#url{
    position: relative;
    text-align: center;
}
#spanurl{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-right: 0.2rem;
    color: #2b2b2b;
    font-size: 0.35rem;
    display: inline-block;
}
/* kefu */
.zxkf {
    position: fixed;
    right: 15px;
    top: 75%;
    width: 45px;
    z-index: 99;
}
.move {
    animation: beat 1.3s infinite;
}

@keyframes beat{
    0% {
            transform:none;
    }
    50%{
            transform:scale(1.8);
    }
    100%{
            transform:none;
    }
}