body {
    background: #fff;
    margin: 0 auto;
    -webkit-user-select: 100%
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    background: 0;
    text-decoration: none
}

.image_div {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    background: white;
    margin-bottom: -5px
}

.img_no_save {
    pointer-events: none
}

.image_div .big_download {
    position: absolute;
    bottom: 0;
    background: rgba(10, 6, 5, 0.58);
    width: 800px;
    height: 250px;
    margin-left: 200px
}

.image_div .code {
    position: absolute;
    top: 0;
    margin-top: 80px;
    width: 250px;
    height: 250px
}

.image_div .code_text {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    font-size: 2.2em;
    color: white
}

.image_div img {
    max-width: 100%;
    border: 0
}

.image_div .code1 {
    margin-left: 500px
}

#JweixinTip {
    width: 100%;
    position: relative;
    top: 0;
    display: none
}
.dw_propt {
	width: 100%;
	height: 5rem;
	background: rgba(255, 255, 255, 0.77);
	position: fixed;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

.ppt_lt {
	position: relative;
}

.img {
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0.5rem;
	left:0.5rem;
	overflow: hidden;
}

.img img {
	display: block;
	width: 100%;
	height: 100%;
}

.ppt_lt .lt_t {
	padding: 1.5rem 0 0 5rem;
	color: #333;
}

.ppt_lt .lt_t h3 {
	font-size: 1rem;
}

.ppt_lt .lt_t span {
	font-size: 0.28rem;
	color: #545454;
	display: block;
	margin-top: 0.15rem;
}

.ppt_lt_ii .lt_in {
	margin: 0 0.3rem;
	position: relative;
}

.ppt_lt .ppt_dw {
	display: block;
	width: 5.6rem;
	height: 3rem;
	line-height: 3rem;
	background: #43c117;
	color: #fff;
	text-align: center;
	font-size: 0.85rem;
	border-radius: 0.5rem;
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
}

.ppt_lt_ii .ppt_dw {
	width: 100%;
	left: 0;
	right: 0
}
/* kefu */
.zxkf {
    position: fixed;
    right: 15px;
    top: 75%;
    width: 80px;
    z-index: 99;
}
.move {
    animation: beat 1.3s infinite;
}

@keyframes beat{
    0% {
            transform:none;
    }
    50%{
            transform:scale(1.8);
    }
    100%{
            transform:none;
    }
}